#header {
    background: #7B1FA2;
    height: 15rem;
    padding-top: 64px;
}

#header-text {
    padding-top: 2rem;
}

h1, h2 {
    text-align: center;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3.75rem;
}

h2 {
    font-size: 1.25rem;
    font-style: italic;
}